<template name="cards">

  <div class="container-fluid" id="page-cards">
    <div class="row">

      {{> topicSidebar}}

      <div class="col-sm-9 col-md-10 main">
        <h4 class="page-header alert alert-info">Dashboard</h4>

        <br/>

        <!-- Table Responsive -->
        <div class="table-responsive well" id="cardList">
          <!-- <div id="cardForm" class="hidden col-sm-6 col-md-6">
            {{> cardItem}}
          </div> -->
          <div id="cardForm" class="hidden">
            {{> addCard}}
          </div>

          <h2 class="sub-header">Card List</h2>
          <button type="button" class="btn btn-primary" id="btnAddCard">
            <span class="glyphicon glyphicon-plus"></span> Add Card
          </button>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <!-- <th>Card ID</th> -->
                <th>Card Question</th>
                <th>Card Answer</th>
                <th>Topic</th>
                <!-- <th>Last Attempt Date</th> -->
                <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <tbody>
              {{#each card}}
                {{> cardTableRowItem}}
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- End Table Responsive -->

      </div>
    </div>
  </div>
</template>
