<template name="cardTableRowItem">
	<tr>
      <!-- <td>{{_id}}</td> -->
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <!-- <td>**********</td> -->
      <!-- <td>{{topic}}</td> -->
      <td>{{showTopic}}</td>
<!--       <td>sit</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-play"></span> Review
          </button>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus"></span> Delete
          </button>
        </div>
      </td> -->
    </tr>
</template>