<template name="contact">
  <div class="center">
    <h1 class="">Team Members</h1>
    <p>
      <a href="https://github.com/mdaxtman">Mike Axtman</a><br />
      <a href="https://github.com/chrbradley">Chris Bradley</a><br />
      <a href="https://github.com/icukaegbu">Chibueze Ikedi</a><br />
      <a href="https://github.com/therobinkim">Robin Kim</a>
    </p>
    <h1>Contribute on Github!</h1>
    <p><a href="https://github.com/hrr1srs/spacedrepetition">HRR1 SRS - SpacedRepetition</a></p>
  </div>
</template>
