<template name="intro">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">HR-SRS App</h3>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              {{> loginButtons}}
            </ul>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Welcome to HR-SRS App.</h1>
          <p class="lead">HR SRS-App is a space repitition software that helps you to master a subject......</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>HR-SRS-App.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

