<template name="intro">
  {{> loginMenu}}

  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="slide1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>HR SRS App</h1>
              <p>The Most Sophisticated Spaced Repetition Software in the Market.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">HR SRS App</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="slide2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn Faster</h1>
              <p>The Faster, Easier way to learn anything.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">HR SRS App</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="slide3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn Easier</h1>
              <p>Mass Memorization on Steroids!!!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">HR SRS App</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="slide4.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn Better</h1>
              <p>Gain Confidence through Improved Retention!!!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">HR SRS App</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="1.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Visual Learning System</h2>
          <p>Interactive. Engage your senses while you study. View and learn with ease.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Progress Tracking</h2>
          <p>Know what you know, and know what you don't.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="3.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Spaced Repetition</h2>
          <p>Reinforce concepts through repetition. Wrong answers repeated frequently to aid retention and make learning faster.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Why Spaced Learning?<br/><span class="text-muted">Because Learning is Fun...</span></h2>
          <p class="lead">HR-SRS turns the information you need to know into unforgettable images and stories that will make studying easier than ever. It turn boring material into memorable information, so you retain the material permanently. <br/><br/>Start studying with the most effective and engaging way to learn challenging information. </p>         
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="1a.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">How HR SRS Aids Learning.<br/><span class="text-muted">See for yourself...</span></h2>
          <p class="lead"><strong>Unforgettable mnemonic illustrations</strong><br/>Combine questions with answers. Harness repetition to help you master information and retain it long term.<br/><br/>
          <strong>Flexibility</strong><br/>Multiple learning modes gives you the flexibility to learn the way that's best for YOU.<br/><br/>
          <strong>Study tools and resources at your fingertips</strong><br/>Different learning tools for easy Make it easy for you with handy definitions, summaries, notes and confidence ratings for each Picmonic. Share information on any topic. and ask questions on our community discussion boards.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div> -->

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 HR SRS, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
  <!-- <div class="site-wrapper bgCover">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">HR-SRS App</h3>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              {{> loginMenu}}
            </ul>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Welcome to HR-SRS App.</h1>
          <p class="lead">HR SRS-App is a space repitition software that helps you to master a subject......</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>HR-SRS-App.</p>
          </div>
        </div>

      </div>
    </div>
  </div> -->
</template>

