<template name="review">
    <div class="card" align="center" display="block">
      <p>{{card}}</p>
      <br> 
      <button class="button">click to see answer</button>
    </div>
  <div class="reviewOptions">
    <form> 
      <select multiple size="10" name="topics">
        {{#each topicList}}
          <option class="dropdown">{{name}}</option>
        {{/each}}
      </select>
    </form>
  </div>
  <br>
  <div class="selectedTopics">
    <h4>Topics Selected for Review:</h4> 
      <ul>
      </ul>
  </div>
</template>
