<template name="dashboard">
  <!-- {{> loginMenu}} -->

    <div class="container-fluid" id="dashboard">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Topics</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" id="btnAddTopic">
                <span class="glyphicon glyphicon-plus"></span> Add Topic
              </button>
              <!-- <button type="button" class="btn btn-warning">Edit Topic</button> 
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-minus"></span> Delete Topic
              </button> -->
            </div>
            <div class="btn-group">
              <label></label>
              <label></label>
              <label></label>
              <label></label>
              <label></label>
              <label></label>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-warning" id="btnAddCard">
                <span class="glyphicon glyphicon-plus"></span> Add Card
              </button>
              <button type="button" class="btn btn-danger hidden" id="btnHideCard">Hide Card</button> 
              <!-- <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-minus"></span> Delete Card
              </button> -->
            </div>
          </div>

          <br/>

          <div class="table-responsive well" id="cardList">
            <!-- <div id="cardForm" class="hidden col-sm-6 col-md-6">
              {{> cardItem}}
            </div> -->
            <div id="cardForm" class="hidden">
              {{> addCard}}
            </div>

            <h2 class="sub-header">Card List</h2>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Card Question</th>
                  <th>Card Answer</th>
                  <th>Topic(s)</th>
                  <th>Last Attempt Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                 {{#each card}}
                    {{> cardTableRowItem}}
                 {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</template>

