<template name="review">
  <div class="container-fluid" id="review">
    <div class="row"><h1>Review Card</h1></div>
    <div class="row">
        <div class="col-sm-2 col-md-2 panel-primary">
          <div class="panel-heading">Click to Add Topics:</div>
          <div class="panel-body well">
            <ul class="nav nav-pills nav-stacked" id="topics">
              {{#each topicList}}
                <li id="{{name}}"><a href="#">{{name}}</a></li>
              {{/each}}
            </ul>

            <!-- <h4><span class="label label-danger">Your Review Topics:</span></h4>
            <ul class="nav nav-pills nav-stacked selectedTopics">
            {{#each userTopic}}
              <li><a href="#">{{name}}</a></li>
              {{/each}}
            </ul> -->

          </div>
        </div>

        <div class="col-sm-5 col-md-5">
          <div class='card alert alert-info'>
            <p class='question'></p>
            <br>
            <div class='answerblock alert alert-danger'> 
            </div>
            <button class="button">Show Answer</button>
          </div>
          
        </div>

        <div class="col-sm-5 col-md-5">

        </div>

    </div>
  </div>

</template>
