<template name="review">
  <div class="container-fluid" id="review">
    <div class="row">
      <div class="col-sm-2 col-md-2 panel-primary featurette-divider">
        <div class="panel-heading">Click to Add Review Topics:</div>
        <div class="panel-body well">
          <ul class="nav nav-pills nav-stacked" id="topics">
            {{#each topicList}}
              {{#if selected}}
                <li><a href="#" class="selected">{{name}}</a></li>
              {{else}}
                <li><a href="#">{{name}}</a></li>
              {{/if}}
            {{/each}}
          </ul>
          <ul class="nav nav-pills nav-stacked selectedTopics" style="display:none">
            {{#each userTopic}}
              <li><a href="#">{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-sm-5 col-md-5 card-container featurette-divider">
        <div id="card">
          <figure class="front">
            <p class="question"></p>
          </figure>
          <figure class="answerblock back">
            <p class="answer"><b></b></p>
          </figure>
        </div>
        <div class="col-sm-5 col-md-5 help">
          <div class="ratingsBlock center help-div">
            <h4>How confident are you?</h4>
            <div class="rating">
              <span id="6" class="star 6">☆</span>
              <span id="5" class="star 5">☆</span>
              <span id="3" class="star 3">☆</span>
              <span id="2" class="star 2">☆</span>
              <span id="4" class="star 4">☆</span>
              <span id="1" class="star 1">☆</span>
            </div>
            <div class="tool">
              <span class="t1">Total blackout...Not in a million years.</span>
              <span class="t2">Incorrect Response, Oh yeah I kind of remember that now.</span>
              <span class="t3">Incorrect Response...Aw snap, I should have known that.</span>
              <span class="t4">Correct Response...Man, I had to work for that one.</span>
              <span class="t5">Correct Response...A little tricky but still nailed it</span>
              <span class="t6">Perfect Response...Total Domination!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
