<template name="review">
  <div class="container-fluid" id="dashboard">
    <div class="row"><h1>Review Card</h1></div>
    <div class="row">
        <div class="col-sm-2 col-md-2 panel-primary">
          <div class="panel-heading">Click to Add/Remove Topics:</div>
          <div class="panel-body well">
            <ul class="nav nav-pills nav-stacked" id="topics">
              {{#each topicList}}
                <li><a href="#">{{name}}</a></li>
              {{/each}}
            </ul>

            <h4><span class="label label-danger">Selected Topics:</span></h4>
              <!-- {{>reviewTopics}} -->
            <ul class="nav nav-pills nav-stacked selectedTopics">
            {{#each userTopic}}
              <li><a href="#">{{name}}</a></li>
              {{/each}}
            </ul>

          </div>  
        </div>

        <div class="col-sm-5 col-md-5">
          <div class='card alert alert-info'>
            <p class='question'></p>
            <br>
            <div class='answerblock alert alert-danger'>
              
            </div>
          </div>
          <button class="button">click to see answer</button>
        </div>

        <div class="col-sm-5 col-md-5">
          <div class='container'>
          <h3>Card Rating Scale:</h3>
          <p> 6 Stars: Perfect Response...Total Domination!</p>
          <p> 5 Stars: Correct Response...A little tricky but still nailed it.</p>
          <p> 4 Stars: Correct Response...Man, I had to work for that one.</p>
          <p> 3 Stars: Incorrect Response...Aw snap, I should have known that.</p>
          <p> 2 Stars: Incorrect Response, Oh yeah I kind of remember that now.</p>
          <p> 1 Star : Not in a million years.</p>
          </div>
        </div>

    </div>
  </div> 

  
</template>
